<!doctype html>
<title>Find That Song</title>

{% if name %}
  <h1>Welcome, {{ name }}!</h1>
{% else %}
  <h1>Welcome to Find That Song!</h1>
{% endif %}

<p>Ever had a song stuck in your head, but you remembered part of the lyrics and not the song title? Log in with Spotify to pick which playlist the song is in, then search all the lyrics of that playlist to find your song. <b>Pick a playlist to get started.</b></p>

<ul>
{% for playlist in playlists %}
  <li><a href="{{ playlist['id'] }}">{{ playlist["name"] }}</a></li>
{% endfor %}
</ul>