<!doctype html>

<head>
  <title>Find That Song</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    {% if name %}
      <h1>Welcome, {{ name }}!</h1>
    {% else %}
      <h1>Welcome to Find That Song!</h1>
    {% endif %}

    <p>Ever had a song stuck in your head, but you remembered part of the lyrics and not the song title? Log in with Spotify to pick which playlist the song is in, then search all the lyrics of that playlist to find your song. <b>Fill out the form below to get started.</b></p>

    <form action="/search" method="get">
      <div class="form-group">
        <label for="query">Lyrics you know:</label>
        <input type="text" name="query" id="query"><br><br>
      </div>

      <p>Playlist the song is in:</p>
      {% for playlist in playlists %}
        <input type="radio" name="playlist_id" value="{{ playlist['id'] }}">{{ playlist["name"] }}<br>
      {% endfor %}

      <input type="submit" value="Find that song!">
    </form>
  </div>
</body>